#container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

#container > div {
    aspect-ratio: 1 / 1; /* Ensures square shape */
    background-color: gray;
    color: gray;
}

.resize-button {
    margin: auto;
    display: block;
    padding: 20px 40px;
}